<div class="container">
  <% if notice %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" id="notice"><%= alert %></p>
  <% end %>

  <h1>Savoriter</h1>
  <div class="about">
    <p>SavoriterはTwitterでいいねした画像等を自動的にGoogleDriveに保存するサービスです。</p>
    <p>人気のtweetを一覧から見ることもできます。</p>
  </div>
  <div class="howto">
    <h4>使い方</h4>
    <ul>
      <li>Sign upからユーザー登録(Twitter連携、Google連携も可能です)</li>
      <li>ProfileからTwitter,Google連携</li>
      <li>保存先の「編集する」ボタンから編集ページへ移動し、保存するにチェックして更新</li>
    </ul>
    <p>以上でお気に入りした画像等が自動的に保存されます。</p>
  </div>
  <div class="info">
    <h4>注意事項</h4>
    <ul>
      <li>いいねのチェックは15分周期で行います。</li>
      <li>初回のチェック以降にいいねした画像等が保存されます。</li>
      <li>保存先を指定していない間にチェックした画像は保存されません。</li>
    </ul>
  </div>
</div>
