<div class="container">
  <% if notice %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" id="notice"><%= alert %></p>
  <% end %>

  <div class="row row-eq-height">
    <% @contents.each do |content| %>
      <div class="col-md-6">
        <% case content.provider
           when 'twitter' %>
             <%= raw content.oembed %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
