<div class="container">
  <% if notice %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" id="notice"><%= alert %></p>
  <% end %>

  <h1>ユーザー情報</h1>

  <div class="user">
    <div class="email">
      E-mail:
      <% if @user.email.include?('@example.com') %>
        未登録

      <% else %>
        <%= @user.email %>
      <% end %>
    </div>
    <div class="edit">
      <%= link_to '編集する', edit_user_registration_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
