<div class="destination">
  <% if auth.present? %>
    <ul>
      <li>
          <div class="destination">
            保存先:
            <% if auth.destination %>
              &#10003;
            <% else %>
              &#x2610;
            <% end %>
          </div>
      </li>
      <li>
        <div class="save_path">
          保存先パス: <%= auth.save_path %>
        </div>
      </li>
    </ul>
    <ul class="auth-edit">
      <li>
        <%= link_to '編集する', edit_auth_path(auth.id), class: 'btn btn-default'  %>
      </li>
    </ul>
  <% end %>
</div>
