<div class="auth-cooperation">
  <div class="row">
    <% if auth.present? %>
      <%= link_to '連携を解除する', auth, method: :delete,
                                  class: 'btn btn-danger',
                                  data: {confirm: "本当に解除してもいいですか？"} %>
    <% else %>
        <%= link_to '連携する', method("user_#{provider}_omniauth_authorize_path").call,
                              class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
