<div class="container">
  <% if notice %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" id="notice"><%= alert %></p>
  <% end %>

  <h1>Editing Auth</h1>

  <%= render 'form', auth: @auth %>

  <%= link_to 'Back', auths_path %>
</div>
