// Place all the styles related to the auths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth > .label {
  font-size: 20px;
}

.twitter-auth > .label {
  background-color: #1DA1F2
}

.google-auth > .label {
  background-color: #DB4437
}

.auth-body > ul {
  margin-top: 10px;
  display: flex;
  list-style: none;
}

.auth-body > ul > li:first-child {
   margin-right: auto;
}

.auth-edit {
  margin-top: 5px;
  list-style: none;
}
