.container
  h2
    | ユーザー情報変更
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      br
      - if resource.email.include?('@example.com')
        = f.email_field :email, autofocus: true, autocomplete: "email", value: ""
      - else
        = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      div
        | Currently waiting confirmation for: 
        = resource.unconfirmed_email
    .field
      = f.label :password
      i
        | (変更したくない場合は空白のままにしてください)
      br
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        br
        em
          = @minimum_password_length
          |  文字以上入力してください
    .field
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, autocomplete: "off"
    .field
      = f.label :current_password
      i
        | (変更を確認するために現在のパスワードが必要です)
      br
      = f.password_field :current_password, autocomplete: "off"
    .actions
      = f.submit "更新する", class: 'btn btn-default'
  h3
    | アカウント削除
  = button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除してもいいですか？" }, method: :delete,
  -   class: 'btn btn-danger'
  .back-link
    = link_to "Back", :back
